<h1>heading 1</h1>
<h2>heading 2</h2>
<h3>heading 3</h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed temporibus repellat autem harum exercitationem nesciunt? Esse natus facilis magnam omnis asperiores nisi nesciunt saepe quaerat! Consectetur ratione ullam blanditiis obcaecati.</p>


<a href="#" class="link-arrow">LEARN MORE</a>


<span class="badge badge--primary">10% off</span>
<span class="badge badge--secondary">10% off</span>
<span class="badge badge--secondary badge--small">10% off</span>
<span class="badge badge--primary badge--small">10% off</span>



<ul class="list list--tick">
    <li class="list__item">item 1</li>
    <li class="list__item">item 2</li>
    <li class="list__item">item 3</li>
</ul>